.body {
 
    background-color: rgb(10, 17, 40);
    
}
.bodyhead {
    color: rgb(18, 130, 162)
}
.bodytext {
    font-size: 20;
    color: ivory;
}
.companypara {
    padding: 50px;
}
.parallax {
    height: 100vh;
    background-image: url('Images/ATLogo.png');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}