.body {
 
    background-color: rgb(10, 17, 40);
    
}
.bodyhead {
    color: rgb(18, 130, 162)
}
.bodytext {
    font-size: 20;
    color: ivory;
}
.companypara {
    padding: 50px;
}
.background {
    height: 100vh;
    background-image: url('Images/ATLogo.png');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h2 {    
    color: rgb(18, 130, 162);
}
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }

  .carousel {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  }

  .carousel-item {
    flex: 0 0 auto;
    text-align: center;
  }

  .carousel-item img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
.footer{
  position: fixed;
    background-color: #1282A2;
    color: #0A1128;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0
  }
  .parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }